 .top img {
        width: 90px;
        height: 140px;
      }

      .left{
 width: 40%;

      } 
      .right {
        width: 80%;
      }

      .contract_container {
        flex-direction: column;
        align-items: flex-start;
      }
.contract_container{
  display: flex;
  flex-direction:row;
}



div.top {
  div {
    img {

    }
  }

  div.top_info {
    h1 {

font-size: 0.8rem;
letter-spacing: 0.5rem;
    }

    h2 {
      font-size: 0.7rem;


    }

    h3 {
      font-size: 0.7rem;

    }

    hr#hr {

    }

    p {
      font-size: 0.38rem;

    }
  }
}


.mid{
  position: relative;
  bottom: 21%;
}

.bottom{
  position: relative;
  bottom: 12%;
}


.bcktoportfolio{
 display: none;
}

div.skills {
  h2 {
    font-size: 0.7rem;

  }

  hr#hr {

  }

  ul {
    font-size: 0.5rem;
    li.s1 {

    }

    li.s2 {

    }

    li.s3 {

    }
  }
}

div.language {
  h2 {
font-size: 0.7rem;
  }

  hr#hr {

  }

  ul {
    font-size: 0.5rem;
    li {

    }
  }
}

 .contract h2{
    font-size: 0.7rem;
  }


.contract_container .img ul li img{
  height: 10px;
}


.contract_container .c_info ul li a{
  font-size: 0.5rem;
}

  .education h2{
   font-size: 0.7rem;
  }

  .education  h3{
    font-size: 0.6rem;


  }

  .education ul{
    font-size: 0.6rem;
    padding-right: 2%;
  }

   .projects h2{
     font-size: 0.7rem;
  }

  #hr{
   border: 2px solid orange;
    border-radius: 5px;
    width: 10%;
   
  }

div.projects {
  h2 {

  }

  hr#hr {

  }

  ul {
    li {
      font-size: 0.5rem;

    }
  }
}

div.bottom {
  padding-bottom: 2%;
  position: relative;
  bottom: 21%;
  div.btm1 {
 
    div {
      a {
font-size: 0.7rem;
      }
    }
  }

  div.btm2 {
    p {
font-size: 0.6rem;
    }
  }
}

.left, .right{
  padding-bottom: 2%;
}
